/* Estilos gerais */
body {
    background-color:#fefefa;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    /* Impede a rolagem horizontal */
}
/* Estilo geral do menu */
.barra {
    display: flex;
    justify-content: center ; /* Garante espaço entre os elementos */
    align-items: center;
    padding: 10px 20px;
    
}

/* Ajusta o posicionamento do nav */
nav {
    display: flex;
    justify-content: flex-end; /* Alinha todo o conteúdo à direita */
    width: 100%; /* Garante que ocupe o espaço disponível */
}

/* Botão do menu (imagem menu.png) */
nav .menu-button {
    display: flex;
    align-items: center;
    cursor: pointer;
}

nav .menu-button img {
    width: 30px; /* Tamanho da imagem */
    height: 30px;
}


/* Lista de itens do menu */
.icons-home {
    position: absolute;
    top: 50px;
    right: 10px;
    display: none; /* Escondido inicialmente */
    background-color: #0070BB; /* Verde claro */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;

}

.menu-items li {
    
    text-align: center;
    border-bottom: 1px solid #FEFEFA;
    padding: 5px 50px;
}

.menu-items li:last-child {
    border-bottom: none;
}

.menu-items li a img,
.menu-items li div img {
    width: 24px;
    height: 24px;
}

/* Mostra o menu quando a classe 'active' é aplicada */
.icons-home.active {
    display: flex;
    flex-direction: column;
}

/* Hover nos itens do menu */
.menu-items li:hover {
    background-color: #1714B3;
    cursor: pointer;
}

  
/* Barra de navegação */
.barra {
    background-color: #eaea0a;
    color: #1714B3;
    display: flex;
    justify-content: space-between;
    /* Adiciona espaçamento entre os itens */
    align-items: center;
    padding: 5px 10px;
    width: 100%;
    white-space: nowrap;
    border: 1px solid #1714B3;
   }

/* Manter o h1 à esquerda do menu */
.barra h1 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    padding: 10px;
    /* Alinha o texto verticalmente com a imagem */
}

/* Tamanho da imagem do gatinho igual ao texto */
.barra h1 img {
    height: 1em;
    /* Define a altura da imagem igual ao tamanho do texto */
    margin-left: 5px;
    /* Adiciona um pequeno espaçamento entre o texto e a imagem */
}

/* Centralizar apenas as opções do menu */
.barra nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0 0;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    
    /* Centralizar as opções de menu */
}

.barra nav a{
    margin: 0;
    padding: 0;
}
.icons-home img{
    display: flex;
    justify-content: center;
    width: 40px;
    height: auto;
}
.barra nav ul li {
    margin-right: 2 px;
   
}

#addContaBtn,
#addReceitaBtn,
#addDespesaBtn,
#editarMeta {
    
    text-align: center;
    margin: 10px 20px;
    border-radius: 10px;
    background-color: #FEFEFA;
    justify-content: center;
    
}



#total-saldo{
    text-align: center; /* Centraliza o texto horizontalmente */
    display: flex; /* Usa o modelo de layout flexbox */
    justify-content: center; /* Alinha o conteúdo horizontalmente */
    align-items: center; /* Alinha o conteúdo verticalmente */
    height: 100vh; /* Faz com que o elemento ocupe a altura total da tela */
}

.navbar-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ccc;
}

.navbar-custom h1 {
    display: flex;
    align-items: center;
}

.navbar-custom img {
    margin-left: 20px;
    height: 30px;
}

.navbar-custom nav ul {
    display: flex;
    list-style-type: none;
}

.navbar-custom nav ul li {
    margin-right: 20px;
}

.btn-group {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    
}
.section-total{
    
display: flex;
justify-content: left;
height: 70vh;
text-align: right;
align-items: center;
background-color: #fefefa;


}

.total-container {
    display: grid;
    gap: 0; /* Sem espaçamento entre linhas */
    text-align: left;
    padding-left: 20px;
    background-color: #1714B3;
    border-radius: 30px;
    width: 45%;
    height: 68%; /* Altura maior */
    margin: 25px;
    box-shadow: 5px 20px 15px rgba(0, 0, 0, 0.3); 
   
    
}


.total-valor{
display: grid;
margin: 0;
padding: 0;


}

.total-valor h1{
    display: flex;
    justify-content: left;
    color: #fefefa;
    align-items: center;
    text-align: center;
    
    

}

.total-valor h2{
    display: flex;
    justify-content: left;
    color: #FEFEFA;
    font-weight:  bold;
    font-size: 30px;
   margin-top: 15px;
   width: 20%;
   align-items: center;
   text-align: center;
}
/* Botões de ação */
.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0;
    text-align: center;
    

}
.button-receita img{
    width: 50px;
    height: 50px;
    background:  rgba(234,234,10,1);
    border-radius: 50%;
    padding: 10px;
    
}

.action-buttons .action-btn {
    text-align: center;
    font-size: 0.9rem;
    color: #fefefa;
    text-decoration: none;
    align-items: center;
    margin: 0;
}

.action-buttons .action-btn img {
    width: 50px;
    height: 50px;
    background:  rgba(234,234,10,1);
    border-radius: 50%;
    padding: 10px;
}

.action-buttons .action-btn span {
    display: block;
    margin-top: 8px;
    font-size: 0.8rem;
}



.modal {
    display: none; /* Modal oculto por padrão */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}


.bv-home {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 6px;
}

hr {
    color: #0070BB;
    border-width: 2px;
}

.row {
    margin: 0;
    padding: 0;
}

.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

.col-md-3 {
    /* A largura dos cards será mais estreita */
    flex: 0 0 25%;  /* Isso faz com que cada card ocupe 25% da largura */
    max-width: 25%;  /* Certifica-se de que os cards não ultrapassem 25% */
}


input[type="text"],
.estilo-select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #1714B3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.section-grafico-total,.section-grafico-despesa, .section-grafico-saldo{
    background:#1714B3 42%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    place-items: center;

    height: 100vh;
}
.grafico h3{
    color: #eaea0a;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.grafico-pizza h3{
    color: #eaea0a;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    white-space: nowrap;
    text-align: center;
    
}

.section-grafico-saldo h1{
    color: #eaea0a;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;    
    white-space: nowrap;
    text-align: center;
    margin-top: 10px;
    
}
/* Centraliza os botões */
.btn-outline-danger {
    margin: 0 10px;
}





/* Estilo para o gráfico de pizza */
.grafico-pizza {
    max-width: 400px;
    /* Largura máxima do gráfico */
    margin: auto;
    /* Centralizar o gráfico */
}

