/* Estilos gerais */
body {
    background: linear-gradient(to right, #38b6ff, #1714b3);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

/* Barra de navegação */
.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(to right, #38b6ff, #1714b3);
    width: 100%;
}

.logotipo {
    width: 82px;
    height: 70px;
}

.menu-central,
.menu-direita {
    display: flex;
    align-items: center;
}

.menu-central ul,
.menu-direita ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-central li,
.menu-direita li {
    font-size: 18px;
    margin-right: 15px;
    border: 2px solid #FEFEFA;
    border-radius: 25px;
    padding: 10px 20px;
}

.menu-central li a,
.menu-direita li a {
    text-decoration: none;
    color: #FEFEFA;
}

/* Página 1: Conteúdo principal */
.section--home {
    text-align: center;
}

.title-main {
    color: #FEFEFA;
    text-align: center;
    font-size: 200px;
    font-weight: bold;
    margin-top: 20px;
    letter-spacing: -20px;
}

.subtitle-main {
    color: #FEFEFA;
    text-align: center;
    font-size: 24px;
    margin-top: 2px;
}

/* Imagem com contorno */
.img-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 80px;
    background-color: #FEFEFA;
    border-radius: 40px;
    position: relative;
    text-align: center;
    z-index: 2;
    height: 600px;
}

.img-example {
    max-width: 100%;
    height: auto;
    margin: auto;
    margin-top: -60px;
    width: 700px;
    border-radius: 40px;
}

.text-example {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 50px;
    color: #004aad;
    padding: 20px;
    z-index: 3;
    white-space: nowrap;
}

/* Página 2: Seção "Sobre" */
.section--about {
    text-align: center;
    color: white;
    padding: 20px;
    margin: auto;
}

/* Seção Introdução */
.section-about__intro{
    padding: 10px;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    text-align: center;    
    height: 100vh;  
    flex-direction: column; 

}

.section-about__intro .intro-title {
    font-size: 50px;
    font-weight: bold;   
}

.section-about__intro .intro-text {
    font-size: 35px;
    line-height: 1.5;
    text-align: center;
    margin-top: 20px; 

   
}

/* Seção Cartões*/
.section-about__cards{
    padding: 10px;
    display: flex;
    /* Centraliza verticalmente */
    text-align: right;    
    height: 100vh;  
    flex-direction: column; 
    justify-content:  flex-start;

}

.section-about__cards .cards-title {
    margin-right: 100px;
    font-size: 75px;
    font-weight: bold;
    text-align: right;
    align-items: right;
    justify-content: right;
    
}

.section-about__cards .cards-text {
    font-size: 35px;
    text-align: right;
    margin-top: 20px; 
    margin-right: 100px;
}

/* Estilo da imagem na seção de cartões */
.section-about__cards .img-example-cards {
    max-width: 100%;
    height: auto;
    margin: auto;
    width: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: auto;
    border-radius: 40px;
    width: 700px;
    float: left; /* Faz a imagem flutuar à esquerda */
    margin-left: 100px; /* Adiciona espaço entre a imagem e o texto */
    

}
