/* Estilo do corpo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Estilo para o botão fixo no canto da tela */
#calculator-button {
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #333333;
    border-radius: 700%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#calculator-button:hover {
    transform: scale(1.1);
    background-color: #444444;
}

#calculator-button img {
    width: 30px;
    height: 30px;
    filter: invert(100%); /* Deixa o ícone branco */
}

/* Estilo para a calculadora */
.calculator {
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    margin: 50px auto;
}

#display {
    background-color: #1e1e1e;
    color: #ffffff;
    font-size: 2rem;
    border: none;
    outline: none;
    text-align: right;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 2px solid #333333;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #444444;
}

button.zero {
    grid-column: span 2;
}
