/* Estilos gerais */
body {
    background-color: #FEFEFA;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}

/* Barra de navegação */
.barra {
    background-color: #FF595E;
    color: #FEFEFA;
    display: flex;
    justify-content: space-between;
    /* Adiciona espaçamento entre os itens */
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    position: relative;
    /* Remover 'fixed' para tornar o menu não fixo */
    z-index: 1;
    /* Adicionar um z-index para garantir que o menu fique sobreposto a outros elementos */
}

/* Manter o h1 à esquerda do menu */
.barra h1 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center; /* Alinha o texto verticalmente com a imagem */
}

/* Tamanho da imagem do gatinho igual ao texto */
.barra h1 img {
    height: 1em; /* Define a altura da imagem igual ao tamanho do texto */
    margin-left: 5px; /* Adiciona um pequeno espaçamento entre o texto e a imagem */
}

/* Centralizar apenas as opções do menu */
.barra nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* Centralizar as opções de menu */
}

.barra nav ul li {
    margin-right: 30px;
}

.barra nav ul li:first-child {
    margin-right: 15px;
    /* Distância menor entre as opções */
}

.barra nav ul li a {
    text-decoration: none;
    color: #FEFEFA;
    font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 700px) {

    /* Barra de navegação responsiva */
    .barra {
        flex-direction: column;
        align-items: center;
    }

    .barra nav {
        margin-top: 10px;
    }

    .barra nav ul {
        margin-top: 10px;
    }

    .barra nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}

.h1-exibir{
    color: #FF595E;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.add-button {
    background-color: #FF595E;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.edit-button,
.delete-button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-button,
.delete-button {
    margin-top: 5px; /* Espaçamento entre os botões */
}


.delete-button {
    background-color: #D44500;
}

.boxConta {
    background-color: #FFE4E1;
    border: 2px solid #FF595E;
    border-radius: 10px;
    box-shadow: 0 0 5px #FF595E; 
    /* Desloca a sombra 0px horizontalmente e 0px verticalmente, com um desfoque de 10px e uma cor preta com 50% de opacidade */
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    color: #C51E3A;
}
