body {
    display: flex; /* Usar Flexbox para organizar os elementos */
    flex-direction: column; /* Mantém a barra no topo e o conteúdo abaixo */
    background-color: #1714b3;
    align-items: center; /* Centralizar horizontalmente */
    min-height: 100vh; /* Garante altura total da tela */
    margin: 0 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;

}

.conteudo {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente os itens */
    align-items: center; /* Centraliza verticalmente os itens */
    gap: 100px;
    padding: 0px 0px;
    max-width: 1200px; 
    height: auto; /* Ajusta dinamicamente à altura do conteúdo */
    background-color: #1714b3;
    margin: 0 0 0 20px; /* Centraliza horizontalmente */
    width: 100%;
   
}



/* Formulário de login */
.form {
    box-sizing: border-box;
    padding: 40px 20px;
    width: 100%;
    max-width: 600px; /* Largura máxima do formulário */
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha os itens à esquerda */
    text-align: left;
    flex: 1;
margin-top: 10px;

    height: auto;

    /* Sombra para o formulário */
   


}   

/* Estilo para o título principal */
.title-card-login {
    font-size: 105px; /* Tamanho do título */
    color: #fefefa;
    text-align: left; /* Alinha o texto à esquerda */
    margin: 0; /* Remove margens padrão */
    text-shadow: 2px 15px 30px rgba(80, 73, 73, 0.35); /* Sombra para o texto */


}

/* Estilo para o subtítulo */
.subtitle-card-login {
    font-size: 20px; /* Tamanho do subtítulo */
    color: #fefefa;     
    text-align: left; /* Alinha o texto à esquerda */
    margin: 0 0; /* Remove margens padrão */
    margin-bottom: 50px;
    text-shadow: 2px 15px 30px rgba(0, 0, 0, 0.5); /* Sombra para o texto */
}

/* Campos de entrada */
.input-container {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    
}

.input {
    background-color: #fefefa;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
    margin-top: 8px;    
    box-shadow: 2px 15px 15px rgba(0, 0, 0, 0.3); /* Cor preta com opacidade */
    
   
}

.placeholder {
    color: #fefefa;
    margin: auto;
    font-size: 16px;
    font-style: bold;
    
    
    

}

/* Botão de envio */
.submit {
    background-color: #1714b3;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    padding: 10px 0;
    width: 40%;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    font-style: bold;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3); /* Cor preta com opacidade */
}

/* Links adicionais */
.form a {
    color: #fefefa;
    font-size: 14px;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}

.form a:hover {
    text-decoration: underline;
}

/* Ajustes para a barra de navegação */
.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
   background-color: #fefefa;
    padding: 5px 30px;
    width: 100%;
}
.barra ul a, .barra ul{
    text-decoration: none;
    color: #38b6ff;
    list-style: none;
    font-size: 16px;
    margin-right: 30px;
    font-style: bold;
}

.img-barra {
    width: 5%;
    margin-left: 30px;
}


/* Estilo básico para a barra de rolagem */
::-webkit-scrollbar {
    width: 10px; /* Largura da barra vertical */
    height: 0px; /* Altura da barra horizontal */
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: #f0f0f0; /* Cor do fundo */
    border-radius: 10px; /* Bordas arredondadas */
}

/* Cor da barra de rolagem */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #38b6ff, #1714b3); /* Gradiente */
    border-radius: 30px; /* Bordas arredondadas */
    border: 10px solid #f0f0f0; /* Espaçamento entre a barra e o track */
}

/* Barra ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #1a73e8, #005cbf); /* Cor ao passar o mouse */
}

/* Ajuste para scroll horizontal */
::-webkit-scrollbar-track-horizontal {
    background: #e6e6e6;
}

::-webkit-scrollbar-thumb-horizontal {
    background: linear-gradient(to right, #38b6ff, #1714b3);
}

