body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Barra de navegação */
.barra {
    background-color: #FFCA3A;
    color: #FEFEFA;
    display: flex;
    justify-content: space-between;
    /* Adiciona espaçamento entre os itens */
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    position: relative;
    /* Remover 'fixed' para tornar o menu não fixo */
    z-index: 1;
    /* Adicionar um z-index para garantir que o menu fique sobreposto a outros elementos */
}

/* Manter o h1 à esquerda do menu */
.barra h1 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center; /* Alinha o texto verticalmente com a imagem */
}

/* Tamanho da imagem do gatinho igual ao texto */
.barra h1 img {
    height: 1em; /* Define a altura da imagem igual ao tamanho do texto */
    margin-left: 5px; /* Adiciona um pequeno espaçamento entre o texto e a imagem */
}

/* Centralizar apenas as opções do menu */
.barra nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* Centralizar as opções de menu */
}

.barra nav ul li {
    margin-right: 30px;
}

.barra nav ul li:first-child {
    margin-right: 15px;
    /* Distância menor entre as opções */
}

.barra nav ul li a {
    text-decoration: none;
    color: #FEFEFA;
    font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 700px) {

    /* Barra de navegação responsiva */
    .barra {
        flex-direction: column;
        align-items: center;
    }

    .barra nav {
        margin-top: 10px;
    }

    .barra nav ul {
        margin-top: 10px;
    }

    .barra nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }
}

.h1-index{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}


.button-19 {
    background-color: #FFCA3A;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

/* Estilos para o modal */
.modal {
    display: none; /* Ocultar o modal por padrão */
    position: fixed; /* Posição fixa para cobrir a tela inteira */
    z-index: 1; /* Colocar o modal sobre todo o conteúdo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Habilitar rolagem quando necessário */
    background-color: rgba(0,0,0,0.4); /* Fundo escuro semi-transparente */
    padding-top: 60px; /* Espaçamento do topo para evitar a barra de navegação */
}

/* Estilos para o conteúdo do modal */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* Centralizar o modal na tela */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do modal */
}

/* Estilos para o botão de fechar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #FFCA3A;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.modal-content{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content:space-between; 
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    background-color: #fefefa;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    color:  #FFCA3A;
    padding-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px; /* Ajuste conforme necessário */
}

label {
    color:  #303030;
    font-size: 17px;
}

input, select, textarea{
    border-color:  #303030;
    color: #303030;
    border-radius: 10px;
    font-size: 16px; /* Tamanho da fonte dos inputs */
    width: 100%; /* Largura total */
    padding: 8px; /* Espaçamento interno */
    box-sizing: border-box; /* Inclui o padding e a borda na largura total */
}

.modal-content {
    display: flex;
    flex-direction: column;
}

.close {
    align-self: flex-end;
}

h2{
    font-size: 30px;
}


