/* Estilos gerais */
body {
    background-color: #fefefa;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Oculta a barra de rolagem */
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh; /* Garante que o body ocupe a altura total da tela */
}

/* Centralizar a seção do formulário */
.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
   
   
}

/* Formulário de login */
.form {
    background: linear-gradient(to right, #38b6ff, #1714b3);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px 30px; 
    width: 400px; 
    height: 500px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    max-height: 100vh;
    
  
}

/* Título principal */
.title-login h1 {
    font-size: 85px;
    font-weight: bold;
    background: linear-gradient(to right, #38b6ff, #1714b3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
    background-color: #fefefa;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
   
}

/* Subtítulo */
h1.subtitle-card-login{
    font-size: 20px;
    color: #fefefa;
    text-align: center;
    margin-bottom: 35px;
    text-align: left;
    font-weight: normal; /* Remove o negrito */
    white-space: nowrap; 
    
}


/* Campos de entrada */
.input-container {
    width: 80%;
    position: relative;
    margin-bottom: 15px;
    
    
}

.input {
    background: transparent;
    border: 1px solid #fefefa;
    border-radius: 12px;
    padding: 10px;
    width: 100%; /* Garante que o input ocupe 100% da largura da input-container */
    font-size: 16px; /* Tamanho do texto no input */
    box-sizing: border-box;
    outline: none;
    color: #fefefa;
}

.placeholder {
    color: #fefefa;
    margin: auto;
    font-size: 20px;
    


}

.link-container {
    display: flex;
    justify-content: center; /* Alinha os links nas extremidades */
    width: 100%; /* Garante que o contêiner dos links tenha a mesma largura do formulário */
    margin-top: 5px; /* Ajuste conforme necessário */
}

.link-container a.forgot-password-link{

    font-size: 20px;
    color: #fefefa;
    text-decoration: none;
    white-space: nowrap; 

}


.link-container a.create-account-link{
   
    text-align: center;
    font-size: 15px;
    color: #fefefa;
    text-decoration: none;
    white-space: nowrap; 
}


/* Botão de envio */
.submit {
    background-color: #fefefa;
    border: none;
    border-radius: 12px;
    color: #1714b3;
    font-size: 18px;
    padding: 10px 0;
    width: 80%;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Links adicionais */
.form a {
    color: #fefefa;
    font-size: 14px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

.form a:hover {
    text-decoration: underline;
}


/* Ajustes para a barra de navegação */
.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1714b3   ;
    padding: 5px 25px;
    margin: auto;
    background: linear-gradient(to right, #38b6ff, #1714b3);
}

.img-barra {
    width: 5%;
}

.barra nav ul li {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

}

.barra nav a {
    display: flex;
    margin: 5px;
    margin-right: 10px;
    font-size: 20px;
    color: #fefefa;
    text-decoration: none;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .form {
        width: 90%;
        padding: 20px;
    }
}
